* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:lightgray;
    margin: 0%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10% 0 7%;
}

header h1 {
    color: red;
    font-size: 35px;
    text-align: center;
}

header h2 {
    font-size: 25px;
    color: white;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(206, 18, 18);
    border: solid black 2px;
}

header .high-scores {
    cursor:pointer;
}

header .high-scores:hover {
    box-shadow: 0 0 2px 2px black;
}

.intro {
    text-align: center;
    margin-top: 10%;
}

.intro h3 {
    font-size: 25px;
    border-bottom: 3px solid red;
    padding: 10px;
    margin: 0 40%;
}

.intro p {
    line-height: 30px;
    font-weight: bold;
}

.intro button {
    appearance: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 7px;
    border: solid black 2px;
    border-radius: 15px;
    background-color: red;
}

.intro button:hover {
    box-shadow: 0 0 2px 2px black;
}

.question-container {
    text-align: center;
    line-height: 30px;
    margin: 10% 30%;
}

.question-container h3{
    margin-right: 5%;
}

.question-container ul {
    display: flex;
    flex-direction: column;
}

.question-container ul button {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(206, 18, 18);
    border: solid black 2px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.question-container ul button:hover {
    box-shadow: 0 0 2px 2px black;
}